<h1>Hello World</h1>
<%#
<div>
  <input type="submit" id="file-upload" value="Upload" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
</div>
%>
<div id="jquery-wrapped-fineuploader">
  <div class="qq-uploader"> 
     <div class="qq-upload-button" style="position: relative; overflow; hidden; direction: ltr;" >
        <input multiple="multiple" type="file" name="file" style"position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
     </div>
  </div>
</div>
